/* styles/barberia.css */

/* HERO */
.hero-barberia {
  background-image: url("/images/hero-barber.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
.hero-barberia::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* overlay */
}

/* SERVICIOS */
.services-barberia {
  background-image: url("/images/bg-services-barber.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.services-barberia::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
}

/* EQUIPO */
.team-barberia {
  background-image: url("/images/bg-team-barber.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.team-barberia::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
}

/* AGENDA */
.appointment-barberia {
  background-image: url("/images/bg-appointment-barber.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.appointment-barberia::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

/* MAPA */
.map-barberia {
  background: #f3f3f3;
}

/* FOOTER */
.footer-barberia {
  background: #111;
  color: white;
}
